<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Tazweeg.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>armv7</string>
				<string>arm64</string>
			</array>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>1A4AEA8C5706B7FB51A4A84FEF0525379F459609</string>
				<key>dateExpires</key>
				<string>3/26/20</string>
				<key>type</key>
				<string>iOS Development</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>1A4AEA8C5706B7FB51A4A84FEF0525379F459609</string>
						<key>dateExpires</key>
						<string>3/26/20</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>AARatingBar.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>N3JMF7CEF4</string>
						<key>name</key>
						<string>HUMAID ALROMAITHI</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>1A4AEA8C5706B7FB51A4A84FEF0525379F459609</string>
						<key>dateExpires</key>
						<string>3/26/20</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>AFNetworking.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>N3JMF7CEF4</string>
						<key>name</key>
						<string>HUMAID ALROMAITHI</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>1A4AEA8C5706B7FB51A4A84FEF0525379F459609</string>
						<key>dateExpires</key>
						<string>3/26/20</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>ActionSheetPicker_3_0.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>N3JMF7CEF4</string>
						<key>name</key>
						<string>HUMAID ALROMAITHI</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>1A4AEA8C5706B7FB51A4A84FEF0525379F459609</string>
						<key>dateExpires</key>
						<string>3/26/20</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>Alamofire.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>N3JMF7CEF4</string>
						<key>name</key>
						<string>HUMAID ALROMAITHI</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>1A4AEA8C5706B7FB51A4A84FEF0525379F459609</string>
						<key>dateExpires</key>
						<string>3/26/20</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>ImageSlideshow.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>N3JMF7CEF4</string>
						<key>name</key>
						<string>HUMAID ALROMAITHI</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>1A4AEA8C5706B7FB51A4A84FEF0525379F459609</string>
						<key>dateExpires</key>
						<string>3/26/20</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>KafkaRefresh.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>N3JMF7CEF4</string>
						<key>name</key>
						<string>HUMAID ALROMAITHI</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>1A4AEA8C5706B7FB51A4A84FEF0525379F459609</string>
						<key>dateExpires</key>
						<string>3/26/20</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>MOLH.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>N3JMF7CEF4</string>
						<key>name</key>
						<string>HUMAID ALROMAITHI</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>1A4AEA8C5706B7FB51A4A84FEF0525379F459609</string>
						<key>dateExpires</key>
						<string>3/26/20</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>SDWebImage.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>N3JMF7CEF4</string>
						<key>name</key>
						<string>HUMAID ALROMAITHI</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>1A4AEA8C5706B7FB51A4A84FEF0525379F459609</string>
						<key>dateExpires</key>
						<string>3/26/20</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>SlideMenuControllerSwift.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>N3JMF7CEF4</string>
						<key>name</key>
						<string>HUMAID ALROMAITHI</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>1A4AEA8C5706B7FB51A4A84FEF0525379F459609</string>
						<key>dateExpires</key>
						<string>3/26/20</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>TPKeyboardAvoiding.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>N3JMF7CEF4</string>
						<key>name</key>
						<string>HUMAID ALROMAITHI</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>1A4AEA8C5706B7FB51A4A84FEF0525379F459609</string>
						<key>dateExpires</key>
						<string>3/26/20</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>UITextView_Placeholder.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>N3JMF7CEF4</string>
						<key>name</key>
						<string>HUMAID ALROMAITHI</string>
					</dict>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>N3JMF7CEF4.com.technation.tazweegapp</string>
				<key>aps-environment</key>
				<string>development</string>
				<key>com.apple.developer.team-identifier</key>
				<string>N3JMF7CEF4</string>
				<key>get-task-allow</key>
				<true/>
			</dict>
			<key>name</key>
			<string>Tazweeg.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>7abc7e68-836f-4f7f-8c95-a51f7e2e8099</string>
				<key>name</key>
				<string>iOS Team Provisioning Profile: com.technation.tazweegapp</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>N3JMF7CEF4</string>
				<key>name</key>
				<string>HUMAID ALROMAITHI</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
